:root { 
--blue_gray_100:#cfd4dc; 
--blue_gray_50:#eaecf0; 
--blue_gray_300:#98a1b2; 
--red_A200:#fd4561; 
--blue_gray_100_01:#d0d5dd; 
--gray_900:#101828; 
--blue_gray_500:#667085; 
--deep_purple_100:#cebaeb; 
--gray_50:#f9fafb; 
--deep_purple_300:#9f74c6; 
--red_A200_a2:#fd4561a2; 
--gray_100:#f2f4f7; 
--gray_700_28:#60617028; 
--gray_900_0c:#1018280c; 
--deep_purple_50:#e2d7f7; 
--deep_purple_A200:#9747ff; 
--white_A700:#ffffff; 
}